<h3>Factures En Cours</h3>
<table>
	<thead>
		<tr>
			<th>Reference</th>
			<th>Client</th>
			<th>Description</th>
			<th>Montant</th>
			<th>Status</th>
			<th>Archiver</th>
		</tr>
	</thead>
	<tbody>
		{{#each facture in controller}}
		<tr>
			<td width="150">{{#linkTo 'facture' facture}}{{ facture.ref }}{{/linkTo}}</td>
			<td width="150">{{#linkTo 'client' facture.client}}{{ facture.client.name }}{{/linkTo}}</td>
			<td width="300">{{ facture.name }}</td>
			<td width="150">{{ facture.montant }}</td>
			<td width="150">{{ attenteReglement facture.payed }}</td>
			<td>{{ input type="checkbox" name="archived" }}</td>
		</tr>
		{{/each}}
	</tbody>
</table>