<h2>factures</h2>
<table>
	<thead>
		<tr>
			<th>Reference</th>
			<th>Client</th>
			<th>Description</th>
			<th>Montant</th>
			<th>Réglée ?</th>
		</tr>
	</thead>
	<tbody>
		{{#each}}
		<tr>
			<td>{{ ref }}</td>
			<td>{{ client.name }}</td>
			<td>{{ name }}</td>
			<td>{{ montant }}</td>
			<td>{{ payed }}</td>
		</tr>
		{{/each}}
	</tbody>
</table>