<h2>Factures</h2>
<table>
	<thead>
		<tr>
			<th>Reference</th>
			<th>Client</th>
			<th>Description</th>
			<th>Montant</th>
			<th>Réglée ?</th>
		</tr>
	</thead>
	<tbody>
		{{#each facture in controller}}
		<tr>
			<td>{{#linkTo 'facture' facture}}{{ facture.ref }}{{/linkTo}}</td>
			<td>{{#linkTo 'client' facture.client}}{{ facture.client.name }}{{/linkTo}}</td>
			<td>{{ facture.name }}</td>
			<td>{{ facture.montant }}</td>
			<td>{{ facture.payed }}</td>
		</tr>
		{{/each}}
	</tbody>
</table>